
<!-- Menu modal-->
<div class="modal fade" id="imprintModal" tabindex="-1" aria-labelledby="imprintModal" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-dark">
      <div class="modal-header border-0">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <div class="logo"><a href="index.html"><img src="images/logo.png" alt="logo"/></a></div>
            <button class="btn btn-menu btn-link text-white p-0 fw-semibold" data-bs-dismiss="modal" aria-label="Close">Close</button>
          </div>
        </div>
      </div>
      <div class="modal-body text-grey">
        <div class="container d-flex flex-column h-100 justify-content-between">
          <div class="row justify-content-between">
            <div class="col-lg-6 col-md-6 d-none d-md-block">
              <p class="text-white fw-semibold">sparkplant GmbH i.G.</p>
              <p>Karl-Liebknecht-Str. 29 A <br> 10138 Berlin</p>
              <p>info@sparkplant.io</p>
              <p>+49 030 22 22 448 7</p>
              <p>Geschäftsführer: Steffen Drillich</p>
              <p>Handelsregister Berlin (angemeldet)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>